@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Open Sans' ,sans-serif;
    box-sizing: border-box;
    padding:3rem 1.5rem;
}

.heading{
    text-align: center;
    padding:1rem;
    background-color:#f8fafc; 
    /* background-color: black; */
    border-radius: .5rem;

    
}
    


.heading h1{
    font-size:2.5rem;
}

.heading p{
    font-size: 1rem;
}

.img-container{
    margin:auto;
    text-align:center;
    /* background-color: aqua; */
    background-color:white;
    padding:0rem .5rem;
    
    
    
    
}

 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  
} 
figcaption{
    
    margin:auto;
    padding:1rem;
}
.tribute-info{
    padding:2rem 3rem; 
    max-width:600px;
    margin:auto;
    text-align: left;
    font-size:0.9rem;

}
.tribute-info h3{
    text-align: center;
}
ul{
    padding:1rem;
}
ul li{
    padding:1rem;
    text-align:left
}

div span{
    text-align: left;
}
